#mes-projets {
    background-color: #ecf0f1;
}

#mes-projets h1 {
    margin: 0;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#mes-projets p {
    text-align: center;
}

.app-react-food {
    background-image: url('../images/foods.jpg');
    background-size: cover;
}

.app-react-plant {
    background-image: url('../images/plants.jpg');
    background-size: cover;
}

.app-react-kids {
    background-image: url('../images/toys.jpg');
    background-size: cover;
}

.projets-background button {
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 20px;
    display: block;
    margin: auto;
    opacity: 0.8;
}

.projets-background a {
    display: inline-block;
    text-decoration: none;
    color:#ecf0f1;
    font-weight: bold;

}

.projets-background button {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

/* Pour les écrans mobiles */
@media (max-width: 768px) {
    #mes-projets {
        height: 650px;
    }
   
    #mes-projets h1 {
        text-align: center;
        margin-top: 0;
        font-family: 'Pacifico', cursive;
        font-size: 1.375em;
        padding-top: 20px; 
    }

    .projets-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .projets-background article {
        margin-top: 10px;
    }

    .app-react-food {
        width: 300px;
        height: 150px;
    }

    .app-react-plant {
        width: 300px;
        height: 150px;
    }

    .app-react-kids {
        width: 300px;
        height: 150px;
    }
  }
  
  /* Pour les écrans de tablettes */
  @media (min-width: 769px) and (max-width: 1024px) {

    #mes-projets {
        height: 500px;
    }

    #mes-projets h1 {
        margin-top: 0;
        text-align: center;
        padding-top: 80px;
        margin-bottom: 20px;
        
    }

    #mes-projets p {
        margin-top: 0px;
        
    }

    .projets-background {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    /* Applique une marge à gauche à tous les articles sauf au dernier */
    .projets-background article {
    margin-top: 10px;
    margin-left: 50px;
    }

    /* Styles pour les éléments individuels */
        .app-react-food, .app-react-plant, .app-react-kids {
    width: 150px;
    height: 150px;
    }
    
  }
  
  /* Pour les écrans d'ordinateur */
  @media (min-width: 1025px) {
    #mes-projets {
        height: 800px;
    }

    #mes-projets h1 {
        padding-top: 100px;
        font-size: 30px;
    }

    .projets-background {
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    .app-react{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .projets-background article {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .app-react-food {
        width: 400px;
        height: 400px;
    }
    
    .app-react-plant {
        width: 400px;
        height: 400px;
    }
    
    .app-react-kids {
        width: 400px;
        height: 400px;
    }

    .projets-background button {
        width: 300px;
        height: 40px;
        margin-top: 193px;
    }

    .projets-background a {
        text-align: center;    
        padding: 10px 20px;
    
    }

    .button-app {
        text-align: center;     
        padding: 10px 20px;     
    }
    
    
    
    
    
  }