#mes-projets {
    height: 800px;
    background-color: #ecf0f1;
}

#mes-projets h1 {
    margin: 0;
    padding-top: 100px;
    text-align: center;
}

#mes-projets p {
    text-align: center;
}

.projets-background {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.app-react{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.projets-background article {
    margin-right: 10px;
    margin-left: 10px;
}

.app-react-food {
    background-image: url('../images/foods.jpg');
    background-size: cover;
    width: 400px;
    height: 400px;
}

.app-react-plant {
    background-image: url('../images/plants.jpg');
    background-size: cover;
    width: 400px;
    height: 400px;
}

.app-react-kids {
    background-image: url('../images/toys.jpg');
    background-size: cover;
    width: 400px;
    height: 400px;
}

.projets-background button {
    width: 300px;
    height: 40px;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 20px;
    display: block;
    margin: auto;
    opacity: 0.8;
    margin-top: 193px;
}

.projets-background a {
    display: inline-block;
    text-decoration: none;
    color:#ecf0f1;
    font-weight: bold;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles pour cette Media Queries */
    #mes-projets {
        height: 800px;
    }
   
    #mes-projets h1 {
        padding-top: 50px;
    }

    .projets-background {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .projets-background article {
        margin-top: 10px;
    }

    .app-react-food {
        width: 200px;
        height: 200px;
    }

    .app-react-plant {
        width: 200px;
        height: 200px;
    }

    .app-react-kids {
        width: 200px;
        height: 200px;
    }

    .projets-background button {
        width: 200px;
        height: 20px;
        margin-top: 50%;
    }
    
}