#mes-projets {
    background-color: #ecf0f1;
}

#mes-projets h1 {
    margin: 0;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#mes-projets p {
    text-align: center;
}

.app-react-food {
    background-image: url('../images/foods.jpg');
    background-size: cover;
}

.app-react-plant {
    background-image: url('../images/plants.jpg');
    background-size: cover;
}

.app-react-kids {
    background-image: url('../images/toys.jpg');
    background-size: cover;
}

.projets-background button {
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 20px;
    display: block;
    margin: auto;
    opacity: 0.8;
}

.projets-background a {
    display: inline-block;
    text-decoration: none;
    color:#ecf0f1;
    font-weight: bold;

}

/* Pour les écrans mobiles */
@media (max-width: 768px) {
    #mes-projets {
        height: 750px;
    }
   
    #mes-projets h1 {
       font-size: 1.375em; 
       margin-left: auto;
       margin-right: auto;
       padding-top: 130px;
    }

    .projets-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .projets-background article {
        margin-top: 10px;
    }

    .app-react-food {
        width: 150px;
        height: 150px;
    }

    .app-react-plant {
        width: 150px;
        height: 150px;
    }

    .app-react-kids {
        width: 150px;
        height: 150px;
    }

    .projets-background button {
        display: flexbox;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 75px;
    }
  }
  
  /* Pour les écrans de tablettes */
  @media (min-width: 769px) and (max-width: 1024px) {
    
  }
  
  /* Pour les écrans d'ordinateur */
  @media (min-width: 1025px) {
    #mes-projets {
        height: 800px;
    }

    #mes-projets h1 {
        padding-top: 100px;
    }

    .projets-background {
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }

    .app-react{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .projets-background article {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .app-react-food {
        width: 400px;
        height: 400px;
    }
    
    .app-react-plant {
        width: 400px;
        height: 400px;
    }
    
    .app-react-kids {
        width: 400px;
        height: 400px;
    }

    .projets-background button {
        width: 300px;
        height: 40px;
        margin-top: 193px;
    }
    
  }