#mes-projets {
    height: 800px;
    background-color: #ecf0f1;
}

#mes-projets h1 {
    margin: 0;
    padding-top: 100px;
    text-align: center;
}

#mes-projets p {
    text-align: center;
}

.projets-background {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.app-react article {
    width: 600px;
    height: 600px;
    opacity: 0;
}

.app-react img {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    cursor: pointer;
}
