/* Styles pour le fond obscur */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent obscur */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assure que le pop-up soit au-dessus du contenu existant */
  }
  
  /* Styles pour le pop-up */
  .popup {
    background-color: red; /* Couleur de fond du pop-up */
    padding: 20px;
    max-width: 90%; /* Largeur maximale du pop-up */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ombre pour le pop-up */
    border-radius: 8px;
    overflow-y: auto; /* Activer la défilement vertical si le contenu dépasse */
  }
  
  /* Styles pour le bouton de fermeture */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
  }
  
  /* Styles pour le titre du pop-up */
  .popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Styles pour l'affichage sur les dispositifs mobiles */
  @media (max-width: 768px) {
    .popup {
      width: 90%; /* Ajustez la largeur du pop-up sur les mobiles selon vos besoins */
      margin: 20px; /* Ajoutez une marge pour un meilleur espacement sur les côtés */
    }
  }
  