/* Styles pour le fond obscur */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent obscur */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assure que le pop-up soit au-dessus du contenu existant */
  }
  
  /* Styles pour le pop-up */
  .popup {
    background-color: #ffff; /* Couleur de fond du pop-up */
    padding: 20px;
    max-width: 90%; /* Largeur maximale du pop-up */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ombre pour le pop-up */
    border-radius: 8px;
    overflow-y: auto; /* Activer la défilement vertical si le contenu dépasse */
    width: 90%; /* Ajustez la largeur du pop-up sur les mobiles selon vos besoins */
    margin: 20px;
  }

  label {
    color: #e66767;
  }
  
  /* Styles pour le titre du pop-up */
  .popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e66767;
    text-align: center;
  }

  .input-field {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
  }

  .input-field:valid {
    background-color: #e2f0e9; /* Couleur de fond pour les champs valides */
    border-color: #4caf50; /* Couleur de la bordure pour les champs valides */
  }
  
  .input-field:focus {
    border-color: #007bff; /* Couleur de la bordure lorsqu'il est en focus */
  }

  .input-field.input-error {
    background-color: #fde6e6; /* Couleur de fond pour les champs en erreur */
    border-color: #f00; /* Couleur de la bordure pour les champs en erreur (rouge) */
    color: #f00; /* Couleur du texte en erreur (rouge) */
  }

  .required {
  color: red; /* Couleur de l'étoile */
  margin-left: 4px; /* Espacement entre le texte et l'étoile */
  }

  .submit-devis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: #e66767;
    color: #ecf0f1;
    width: 150px;
    height: 40px;
    border: 1px solid #e66767;
    border-radius: 25px;
    font-weight: bold;
  }

  .close-button {
    background-color: white;
    color:black;
    border: 1px solid white;
    font-weight: bold;
    margin-left: 220px;
    margin-bottom: 1em;
}


   /* Pour les écrans d'ordinateur */
   @media (min-width: 1025px) {
    .popup {
      width: 700px; /*  la largeur du pop-up sur l'ecran de PC */
    }

    .input-field {
      width: 90%;
    }

    .close-button {
      margin-left: 650px;
  }

  }
  
  
  