.banniere {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                      url("../images/coquelicots.jpg");
    background-size: cover;
}

.background-banniere {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    color: #ecf0f1;
    width: 98%;
    text-align: center;
}

.background-banniere h1 {
    text-align: center;
}

.background-banniere .obtenirDevis-button {
    background-color: #e66767;
    color: #ecf0f1;
    width: 150px;
    height: 40px;
    border: 1px solid #e66767;
    border-radius: 25px;
    font-weight: bold;
}

.devis-popup-contenu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu verticalement */
  }

/* Pour les écrans jusqu'à 768px de large */
@media (max-width: 768px) {
    .banniere {
        height: 400px;
    }

    .background-banniere p {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1em;
    }

    .background-banniere h1 {
      font-size: 1.375em;
  }
  }
  
  /* Pour les écrans de 769px à 1024px de large */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Ajoutez ici les styles CSS pour les écrans entre 769px et 1024px de large */
  }
  
  /* Pour les écrans de 1025px et plus de large */
  @media (min-width: 1025px) {
    /* Ajoutez ici les styles CSS pour les écrans de 1025px et plus de large */
  }
