#services {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e74c3c;
}

.services-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.services-container h1 {
    display: block;
    margin-left: auto;
    margin-left: 150px;
}

.my-services {
    width: 600px;
    height: 500px;
    margin-left: 170px;
    background-color: red;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-services h3 {
    color: #e74c3c;
}
.proposition-service {
    padding: 5px;
}
.proposition-service p {
    line-height: 0;
}