@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@1,300&display=swap');
#services {
    background-color: #e74c3c;
}

.my-services h3 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.proposition-service {
    padding: 5px;
}

.proposition-service p {
    line-height: 0;
    font-size: 16px;
    text-align: justify;
}

.icon-service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: 1em;
}



/* Pour les écrans de mobiles */
@media (max-width: 768px) {
    #services {
        height: 620px;
        background: linear-gradient(180deg, #e74c3c, #ecf0f1);
    }

    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services-container h1 {
       text-align: center;
       margin-top: 0;
       font-family: 'Pacifico', cursive;
       font-size: 1.375em;
       padding-top: 20px; 
    }

    .my-services {
        width: 300px;
        margin-left: 0;
    }

    .proposition-service {
        line-height: 0;
        margin-top: 0;
        margin-top: 20px;
    }

    .proposition-service h3 {
        font-size: 14px;
        color: #212529;
        text-align: center;
    }

    .proposition-service p {
        line-height: 1;
        text-align: center;
    }
    
  }
  
  /* Pour les écrans de tablettes */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Ajoutez ici les styles CSS pour les écrans entre 769px et 1024px de large */
  }
  
  /* Pour les écrans d'ordinateurs*/
  @media (min-width: 1025px) {
    #services {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e74c3c;
    }
    
    .services-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .services-container h1 {
        display: block;
        font-size: 50px;
        font-family: 'Pacifico', cursive;
        
    }
    
    .my-services {
        width: 600px;
        height: 400px;
        margin-left: 170px;
        text-align: center;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .my-services h3 {
        color: black;
        text-transform: uppercase;
    }
    .proposition-service {
        padding: 5px;
    }
    .proposition-service p {
        line-height: 0;
        font-size: 16px;
    }
  }
  
