.presentation-me span {
    color: #e74c3c;
}

/* Styles pour mobile (largeur maximale de 768px) */
@media (max-width: 768px) {
    .presentation-me {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .presentation-me h1 {
         font-size: 20px;
         text-align: center;
    }

    .presentation-me h2 {
        font-size: 18px;
        text-align: center;
   }

    .presentation-me p {
        text-align: center;
   }
    
    .presentation-me img {
        display: none;
    }
 
}

/* Styles pour tablette (768px à 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .presentation-me {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        text-align: center;
    }

    .presentation-me img {
        height: 70px;
        width: 70px;
        }
        
   
}

@media (min-width: 1025px) {

    .presentation-me {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: left;
    }
 
    .presentation-me h1 {
         font-size: 20px;
    }

    .presentation-me h2 {
        font-size: 18px;
   }

   .presentation-me img {
    height: 70px;
    width: 70px;
    }
    
  }



