.presentation-me {
    margin-top: 83px;
}

.presentation-me span {
    color: #e74c3c;
}

hr {
     height: 1px;
    background-color: #e74c3c;
}

.presentation-me img {
    height: 150px;
    width: 150px;
}

