.background-image  {
    background-image: linear-gradient(rgba(26, 32, 41, 0.4), rgba(26, 32, 41, 0.4)),
                    url("../images/nature-background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image h1 span {
    color: #e74c3c;
}

.background-image h1 {
    color: #ecf0f1;
    text-align: center;
}

.arrow-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 60px;
    border: 1px solid #ecf0f1;
    color: #ecf0f1;
    font-size: 30px;
    margin-top: 240px;
    border-radius: 60px;
    cursor: pointer;
}

.arrow-down a {
    text-decoration: none;
    color: #ecf0f1;
}

/* Pour les écrans de mobiles */
@media (max-width: 768px) {
    .background-image h1 {
        font-size: 40px;
        margin-top: 200px;
        text-align: center;
    }

    .arrow-down {
        width: 40px;
        height: 60px;
        font-size: 30px;
        margin-top: 100px;
    }
   
  }
  
  /* Pour les écrans de tablettes */
  @media (min-width: 769px) and (max-width: 1024px) {
    .background-image {
      height: 100vh;
      background-size: cover; 
    }
  
    .background-image h1 {
      color: #ecf0f1;
      font-size: 50px; /* Taille de police adaptée aux tablettes */
      margin-top: 250px; 
      text-align: center;
    }
  
    .arrow-down {
      width: 40px;
      height: 60px;
      font-size: 30px;
      margin-top: 150px; 
      border-radius: 60px;
    }
  }
  
  
  
  /* Pour les écrans d'ordinateurs */
  @media (min-width: 1025px) {

    .background-image h1 {
        color: #ecf0f1;
        font-size: 60px;
        margin-top: 330px;
    }

}
  
