.skills ul{
    margin-top: 83px;
    padding: 0;
}

.skills ul li {
    list-style: none;
}

.skills ul li {
	list-style-type: circle;
    font-weight: bold;
    size: 20px;
    cursor: pointer;
}

.skills ul li:hover {
    color: #e74c3c; 
}

.skills hr {
    margin-top: 143px;
}