.skills ul{
    list-style-type: none; /* Enlève les puces */
    margin-top: 83px;
    padding: 0;
}

.skills ul li {
    font-weight: bold;
    size: 20px;
    cursor: pointer;
}

.skills ul li:hover {
    color: #e74c3c; 
}

.skills hr {
    margin-top: 143px;
}

/* Styles pour tablette (768px à 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .skills {
        width: 500px;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        text-align: center;
    }
}

/* Pour les écrans d'ordinateurs*/
@media (min-width: 1025px) {
    .skills {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .skills li {
        text-align: center;
    }

    .skills ul {
        margin-bottom: 10px;
        padding-top: 10px;
    }
}