.skills ul{
    list-style-type: none; /* Enlève les puces */
    margin-top: 83px;
    padding: 0;
}

.skills ul li {
    font-weight: bold;
    size: 20px;
    cursor: pointer;
}

.skills ul li:hover {
    color: #e74c3c; 
}

.skills hr {
    margin-top: 143px;
}