@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@1,300&display=swap');

#about {
    height: 600px;
    background-color: #ecf0f1;
}
.container-about {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: 380px;
    height: 400px;
    margin-right: 40px;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.liens {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.liens a:hover {
    border-bottom: 3px solid #e74c3c;
}

.liens a {
    margin-left: 60px;
    position: relative;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.paragraphes-presentation {
    height: 285px;
    width: 600px;
}

.paragraphes-presentation p {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles pour cette Media Queries */
    #about {
        height: 100vh;
        background-color: #ecf0f1;
    }

    .container-about {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .photo img {
        width: 170px;
        height: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container-presentation {
        margin-bottom: 200px;
    }

    .liens {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 200px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .liens a {
        padding: 0;
        font-size: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .paragraphes-presentation {
        height: 100px;
        width: 300px;
        text-align: justify;
    }
    

}