#contact {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.background-contact h1 {
    text-align: center;
    margin-top: 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.375em; 
}

.background-contact h5 {
    margin-bottom: 0;
}

.background-contact p {
    margin-top: 10px;
}

.infos-contact div {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color {
    background-color: #e74c3c;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #ecf0f1;
}

/* Pour les écrans mobiles */
@media (max-width: 768px) {

    #contact {
        height: 400px;
    }

    .background-contact {
        padding-top: 15px;
    }

    .background-contact h1 {
       text-align: center;
       margin-top: 0;
       font-family: 'Pacifico', cursive;
       font-size: 1.375em;
       padding-top: 20px; 
    }

    .infos-contact {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .infos-contact div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .color {
        width: 60px;
        height: 60px;
    }

  }

  /* Pour les écrans de tablettes */
  @media (min-width: 769px) and (max-width: 1024px) {

    #contact {
        height: 450px;
    }

    #contact h1 {
        margin-top: 0;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 20px;   
    }

    .infos-contact div {
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 20px;
    }
    
    .color {
        width: 80px;
        height: 80px;
       
    }
    
    .icon {
        width: 20px;
        height: 20px;
    }
  }



  /* Pour les écrans d'ordinateur */
  @media (min-width: 1025px) {

    #contact {
        height: 400px;
    }

    .background-contact {
        padding-top: 80px;
    }
    
    .background-contact h1 {
        text-align: center;
        margin-top: 0;
        font-family: 'Pacifico', cursive;
    }
    
    .infos-contact {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .infos-contact div {
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 20px;
    }
    
    .color {
        width: 100px;
        height: 100px;
       
    }
    
    .icon {
        width: 30px;
        height: 30px;
    }

  }
  
