#contact {
    background-color: #ecf0f1;
    height: 100vh;
}

.background-contact h1 {
    text-align: center;
    margin-top: 0;
    font-family: 'Pacifico', cursive;
}

.background-contact h5 {
    margin-bottom: 0;
}

.background-contact p {
    margin-top: 10px;
}

.infos-contact div {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color {
    background-color: #e66767;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #ecf0f1;
}

.form-map{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;

}

/* Pour les écrans mobiles */
@media (max-width: 768px) {
    .background-contact {
        padding-top: 15px;
    }

    .infos-contact {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .adress {
        width: 500px;
    }

    .adress p {
        margin-bottom: 0;
    }
  }



  /* Pour les écrans d'ordinateur */
  @media (min-width: 1025px) {
    .background-contact {
        padding-top: 80px;
    }
    
    .background-contact h1 {
        text-align: center;
        margin-top: 0;
        font-family: 'Pacifico', cursive;
    }
    .background-contact h5 {
        margin-bottom: 0;
    }
    .background-contact p {
        margin-top: 10px;
    }
    
    .infos-contact {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .infos-contact div {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .color {
        background-color: #e66767;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .icon {
        color: #ecf0f1;
    }
    
    .form-map{
        width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 50px;
    
    }

  }
  
