/* Barre de navigation */
nav {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
}

/* Liste de navigation principale */
.liste {
    margin: 0;
    margin-right: 100px;
    padding: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Éléments de navigation */
.items {
    margin-right: 40px;
    font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
    color: #ecf0f1;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    position: relative;
}

/* Styles des liens dans les éléments de navigation */
.items a {
    text-decoration: none;
    color: #ecf0f1;
}

/* Styles pour le bouton hamburger sur les grands écrans */
.btn-hamburger-large-screen {
    display: none; /* Masque le bouton hamburger sur les grands écrans */
  }
  

/* Styles spécifiques pour les écrans étroits */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .liste {
        flex-direction: column;
        height: auto; /* Supprime la hauteur fixe pour permettre un ajustement automatique */
        margin-top: 10px; /* Ajoute une marge de base */
    }

    .items {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #ecf0f1;
        line-height: 50px;
        text-align: center;
    }

    .btn-hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        color: black;
        cursor: pointer;
    }

    .items:nth-child(1) {
        border-top: 1px solid #ecf0f1;
        margin-top: 0; /* Ajustement pour éviter un espace supplémentaire en haut */
    }
}

/* Styles pour tablette (768px à 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
      /* Styles pour la Navbar sur tablette */
      /* Par exemple, vous pouvez ajuster la taille du texte, la hauteur de la barre de navigation, etc. */
    }
  }
  
  /* Styles pour ordinateur de bureau (1025px et plus) */
  @media (min-width: 1025px) {
    .navbar {
      /* Styles pour la Navbar sur ordinateur de bureau */
    }
  }
  

