/* Barre de navigation */
nav {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
}

/* Liste de navigation principale */
.liste {
    margin: 0;
    margin-right: 100px;
    padding: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Éléments de navigation */
.items {
    margin-right: 40px;
    font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
    color: #ecf0f1;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    position: relative;
}

/* Styles des liens dans les éléments de navigation */
.items a {
    text-decoration: none;
    color: #ecf0f1;
}

.liste .items a:hover {
    color: #e74c3c;
}

/* Styles pour le bouton hamburger sur les grands écrans */
.btn-hamburger-large-screen {
    display: none; /* Masque le bouton hamburger sur les grands écrans */
  }
  



  

