form {
    margin-right: 5px;
}

#prenom  {
    width: 281px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ecf0f1;
}

#nom {
    width: 281px;
    height: 30px;
    margin-left: 20px;
    background-color: #ecf0f1;
}

#sujet  {
    width: 591px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ecf0f1;
}

input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #808e9b;
    outline: none
}

textarea {
    height: 150px;
    width: 593px;
    margin-left: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #808e9b;
    outline: none;
    background-color: #ecf0f1;
}
.formulaire button {
    background-color: #e66767;
    color: #ecf0f1;
    width: 600px;
    height: 30px;
    border: 1px solid #e66767;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 10px;
}